.search {
    text-align: center;
    margin-bottom: 1rem;
}

.searchInput {
   font-size: 16px;
   padding: 0.5rem;
   border-radius: 10px;
   border: 2px solid gray;
   width: 60%;
}

.locate {
    position:absolute;
    top: 14.5rem;
    right:0.65rem;
    background: white;
    padding: 0.3rem;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    border: none;
    z-index: 1;
}

.locate img:hover {
   transform: scale(1.04);
}

.locate img {
    width: 30px;
    cursor: pointer;
}

.infobox {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.infoTitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 13px;
}

.infoBtn {
  background-color: hwb(31 21% 5%);
  border-radius: 8px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 15px;
  transition: all .3s;
}

.infoBtn:hover {
    background-color: #259353f5;
    transition-duration: .35s;
  }

.infowinText {
    margin-bottom: 10px;
}

.infoboxImg {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* media queries */
/* tablet */
@media screen and (max-width: 768px ) {
    .locate {
        top: 15rem;
    }
    .searchInput {
        width: 70%;
    }
}


/* phone */
@media screen and (max-width: 390px ) {
    .locate {
        top: 18rem;
    }
    .searchInput {
        width: 90%;
    }
   
}

/* phone SE */
@media screen and (max-width: 375px ) {
    .locate {
        top: 15.8rem;
    }
    .searchInput {
        width: 90%;
        font-size: 12px;
    }
    .search {
        margin-bottom: 0.5rem;
    }
   
}