/* background image for both login and signup */
.container {
    /* background-image: url('../assets/images/image.jpg'); */
    background-image: url('../../public/images/phone.webp');
    background-color: rgba(3, 4, 16, 0.901);
    height: 78vh;
    background-repeat: no-repeat;
    background-position: center;
}

/* form box */
.form-area {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(66, 87, 78, 0.8);
    padding: 3rem 3rem 2rem ;
    border-radius: 10px;
}


/* h1 from form */
.form-text h1 {
    text-align: center;
    /* margin: 35px 0; */
    font-size: 35px;
    color: rgb(255, 255, 255);
}

/* login button  */
.form-text button {
    width: 100px;
    margin: 10px auto;
    margin-top: 3rem;
    display: block;
    cursor: pointer;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 0 0 8px 0 rgba(11, 231, 84, 0.575); */
    color: rgb(85, 83, 83);
    font-size: 16px;
    font-weight: 500;
    background: white;
}

/* signup button */
.signupBtn button {
    width: 100px;
    margin: 10px auto;
    display: block;
    cursor: pointer;
    border: 0;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 0 0 8px 0 rgba(11, 231, 84, 0.575); */
    color: rgb(85, 83, 83);
    font-size: 16px;
    font-weight: 500;
    margin-top: 1rem;
    background: white;
}



/* text for signup button */
.signupBtn h3 {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 1rem;
    
}

/* inputs within form  */
.form-text input {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 1px 15px;
    color: rgb(85, 83, 83);
    border: 0;
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(11, 231, 84, 0.575);
}

.form-text input:focus {
    outline: none;
}


/* .error-text {
    color: rgb(236, 0, 0);
} */


/* phone SE */
@media screen and (max-width: 416px ) {
    .form-text h1 {
        font-size: 25px;
        margin: 0;
    }

    .form-area {
        padding: 0.8rem;
        margin-top: 2rem;
    }
   
}
