.profile_container {
    display: flex;
    width: 40%;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    
}

.profile_top {
    background-color: rgb(248, 184, 65);
    width: 100%;
    border: 2px solid transparent;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}

.profile_image {
    width: 30%;
    margin-top: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.profile_image img {
    width: 100%;
}

.profile_username {
    margin: 1rem;
}

.profile_bottom {
    background-color: rgb(96, 170, 66);
    width: 100%;
    border: 2px solid transparent;
    border-radius: 20px;
    text-align: left;
    color: white;
    font-size: 1rem;
}

.profile_icon {
    width: 40px;
    height: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.profile_details {
    padding: 1rem;
}

.profile_details p {
    margin: 1rem;
}

.bg {
    background-image: url('https://freefrontend.com/assets/img/anime-js-examples/Anime-js-Color-Changing.gif');
    background-size: cover;
    height: 80vh;
    padding:0;
    margin:0;
}

p {
    text-align: center;
}



/* media queries */
/* nest hub max tablet */
@media screen and (max-width: 1293px ) {
    .profile_top {
        margin-top: 1rem;
    }
}




/* tablet */
@media screen and (max-width: 768px ) {

    .profile_top {
        margin-top: 8rem;
    }

    .profile_container {
        width: 68%;
    }

    .profile_username {
        font-size: 1.5rem;
        margin: 1.5rem;
    }
   
}


/* phone */
@media screen and (max-width: 390px ) {
    .profile_container {
        width: 90%;
    }

    .profile_top {
        margin-top: 3rem;
    }

    .profile_username {
        font-size: 1.3rem;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 414px ) {
    .profile_container {
        width: 90%;
    }

    .profile_top {
        margin-top: 4.5rem;
    }

    .profile_username {
        font-size: 1.3rem;
        margin: 0.5rem;
    }
}

/* phone SE */
@media screen and (max-width: 375px ) {
    .profile_container p, h1, h2, h3, h4{
        font-size: 0.7rem;
    }

    .profile_top {
        margin-top: 0.5rem;
    }

    .profile_image {
        margin-top:0.5rem;
    }

    .profile_username {
        font-size: 0.7rem;
        margin-bottom:0.4rem;
    }


}