footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: white;
    padding-bottom: 1rem;
}

svg {
 cursor: pointer;
 width: 22px;
 height: 22px;
 margin-top: 1rem;
}