nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.titleImage {
    width: 60px;
}

.titleh1 {
    font-size: 2.5rem;
}

ul li {
    margin: 0 0.3rem;
}

a {
    all: unset;
}


.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: hwb(145 17% 33%);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


/* media queries */
/* tablet */
@media screen and (max-width: 768px ) {
  .titleImage {
    width: 60px;
}
}


/* phone */
@media screen and (max-width: 390px ) {
  .titleImage {
    width: 55px;
}

.titleh1 {
    font-size: 1.8rem;
}

ul {
  display: flex;
  flex-direction: column;
}

.button-68 {
  font-size: 13px;
  padding: 8px;
  margin-bottom: 10px;
}
 
}

/* phone SE */

@media screen and (max-width: 375px ) {
 
  .titleImage {
      width: 50px;
  }

  .titleh1 {
      font-size: 1.8rem;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  .button-68 {
    font-size: 13px;
    padding: 8px;
    margin-bottom: 10px;
  }

  nav {
    padding: 0.5rem 0.5rem 0rem;
  }


}